.section{
  width: 100%;
}

.section-1{
  width: 100%;
}

.content{ 
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-block: 40px;
}

.profile__nav{
  display: flex;
  margin-left: -20px;
  margin-bottom: 32px;
}

.profile__nav__avatar{
  flex: 1;
  

}

.profile__nav__avatar--img{
  width: 50px;
  height: 50px;
}

.profile__nav__function {
  flex: 1;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.118);
  border-radius: 6px;
  padding: 8px 10px;
  margin-left: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all ease-in-out 0.14s;
  -webkit-transition: all ease-in-out 0.14s;
  -moz-transition: all ease-in-out 0.14s;
  -ms-transition: all ease-in-out 0.14s;
  -o-transition: all ease-in-out 0.14s;
}

.profile__nav__function:hover{
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  background-color: var(--main-color-lighter-v2);
}

.profile__nav__function:first-child a .profile__nav__function__img--box{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile__nav__function a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.profile__nav__function__img--box{
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
}

.profile__nav__function__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile__nav__function__label{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

/* region */
.data__showing--region{
  padding: 26px 40px;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
    background: white;
    height: 100%;
    border-radius: 6px;
}

.data__showing--region__label--box{
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
}

.data__showing--region__label{
  font-size: 20px;
    font-weight: 700;

}

.user__profile__data--wrap{
  display: flex;
  height: 100%;
} 

.user__profile__data--box{
  flex: 2.2;
  height: 100%;
}

.user__profile__data__control{
  display: flex;
  margin-bottom: 30px;
}
.user__profile__data__control:last-child{
  margin-bottom: 0px;
}

.user__profile__data__label{
  flex: 1;
  text-align: right;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}

.user__profile__data__value{
  flex: 2;
  font-size: 16px;
  font-weight: 600;
}

.user__profile__data__img{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}

.user__profile__data__img--box{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--main-color-lighter-v2);
  overflow: hidden;
}
.user__profile__data__img--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* update profile */
.user__profile__data__img.update{
  flex-direction: column;
  align-items: center;
}

.user_profile__data__update--avatar{
  margin-top: 20px;
}

input[type="file"].user_profile__data__update--avatar::file-selector-button{
  border: 1px solid var(--main-color);
  background-color: var(--background-color-lighter-v2);
  padding: 4px 14px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
  font-family: "nunito";
  transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
}
input[type="file"].user_profile__data__update--avatar::file-selector-button:hover{
  background-color: var(--main-color);
  color: #fcf6ee;
}

.user__profile__data__btn button{
  background-color: var(--main-color-lighter);
  color: white;
  border: none;
  padding: 6px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "nunito";
  cursor: pointer;
}

.user__profile__data__btn button:hover{
  opacity: 0.7;
}

.user__profile__data__value.update input{
  border: none;
    border-bottom: 1px solid #ccc;
    outline: unset;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 10px;
}

/* don hang */
.data__showing--region__bill--function--list{
  display: flex;
  margin-bottom: 20px;
}

.data__showing--region__bill--list:nth-child(even){
  background-color: antiquewhite;
}
.data__showing--region__bill--list:nth-child(odd){
  background-color: #fff5e8;
}

.data__showing--region__bill--list{
  padding: 20px 40px;
}

.data__showing--region__bill--id{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #8c6a5459;
}
.data__showing--region__bill--id p{
  color: red;
  font-size: 16px;
  font-weight: 600;
}

.data__showing--region__bill--function--item{
  flex: 1;
}

.data__showing--region__bill--function--link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  transition: all ease-in-out 0.14s;
  -webkit-transition: all ease-in-out 0.14s;
  -moz-transition: all ease-in-out 0.14s;
  -ms-transition: all ease-in-out 0.14s;
  -o-transition: all ease-in-out 0.14s;
  color: var(--text-color);
}
.data__showing--region__bill--function--link:hover{
  background-color: var(--main-color-lighter-v2);
  color: white; 
}

.data__showing--region__bill--item{
  display: flex;
}

.bill--item__img--box{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.bill--item__img--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bill--item__info__product--box{
  flex: 1;
  margin-left: 20px;
}

.bill--item__info__product--classify--box{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bill--item__info__product--price{
  color: var(--price-color);
  font-size: 16px;
  font-weight: 600;
}

.bill--item__info__product--price--box{
  display: flex;
  align-items: flex-end;
}

.bill--item__info__product--name{
  flex: 1;
  font-size: 16px;
  font-weight: 600;

}

.bill--item__info__product--box{
  display: flex;
}

.data__showing--region__bill--item--wrap{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #8c6a5459;
}

.data__showing--region__bill--bottom{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.data__showing--region__bill--bottom:last-child{
  margin-bottom: 0px;
}

.data__showing--region__bill--label.bill--total,
.data__showing--region__bill--label.bill--status{
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
}
.data__showing--region__bill--value.bill--total,
.data__showing--region__bill--value.bill--status{
  font-size: 16px;
  font-weight: 500;
}
.data__showing--region__bill--value.bill--status:first-child{
  color: var(--price-color);
}