:root {
  --main-color: #8C6A54;
  --main-color-lighter: #9c7962;
  --main-color-lighter-v2: #e0ae8c;
  --main-color-2: #738AFF;
  --background-color: #FBF0E0;
  --background-color-light: #fcf6ee;
  --text-color: #333333;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-color: #909090;
  --secondary-color-lighter: #BABABA;
  --secondary-color-darker: #707070;
  --price-color: #ff5656;
  --yellow-color: yellow;
  --red-color : red;
}

body{
  font-family: 'Nunito' !important;
  background-color: var(--background-color-light);
}

.header{ 
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header__wrap{
  height: 100%;
  width: 100%;

}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo__box{ 

}

.header__logo{ 

}

.header__logo--link{ 
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
}

.header__nav__box{ 

}

.header__nav{ 

}

.header__nav__list{
  display: flex;
}

.header__nav__item{ 
  padding: 6px;
  margin-inline: 8px;
}

.header__nav__item:first-child{ 
  margin-left: 0;
}

.header__nav__item:last-child{ 
  margin-right: 0;
}

.header__nav__item--link{
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color-darker);
  transition: all 0.16s ease-in-out;
  -webkit-transition: all 0.16s ease-in-out;
  -moz-transition: all 0.16s ease-in-out;
  -ms-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
}

.header__nav__item--link:hover{ 
  color: var(--main-color);
}

.header__user__info{ 
  display: flex;
}

.header__cart__box{ 

}

.header__cart, .header__user, .header__tablet-mobile__menu{
  width: 32px;
  height: 32px;
  background-color: var(--background-color-light);
  border: 1.8px solid var(--secondary-color-darker);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__cart:hover, .header__user:hover, .header__tablet-mobile__menu:hover{
  background-color: var(--main-color);
}

.header__cart__box{
  position: relative;
}

.header__cart__quantity__product{
  position: absolute;
  z-index: 2;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -8px;
  left: -16px;
  padding: 1.4px;
  border: 2.2px solid var(--background-color-light);
}

.header__cart__quantity__product .header__cart__quantity--content{ 
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
}


.header__cart--link, .header__user--link, .header__tablet-mobile__menu--link{
  text-decoration: none;
  color: var(--secondary-color-darker);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.header__cart:hover .header__cart--link, .header__user:hover .header__user--link, .header__tablet-mobile__menu:hover .header__tablet-mobile__menu--link{
  color: var(--white-color);
}

.header__cart__logo{ 
  width: 100%;
  height: 100%;
}

.header__user__box, .header__tablet-mobile__menu{ 
  margin-left: 10px;
}

.header__user--link{ 

}

.header__user__logo{ 

}

.header__tablet-mobile__menu__box{
  display: none;
}

.header__bottom{ 
  background-color: var(--main-color);
}

.header__bottom__wrap{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  max-width: 1200px;
  margin: 0 auto;
}

.header__slogan{ 

}

.header__slogan__content{ 

}

.header__search{ 

}

.header__search__form{
  position: relative;
  width: 400px;
  height: 36px;
  background-color: var(--background-color-light);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
}

.header__search__form--control{

}

.header__search__form__field{
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: transparent;
  height: 30px;
  width: 280px;
  padding-inline: 10px;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
}

.header__search__form__submit{
  position: absolute;
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  top: 0;
  right: 0;
  background-color: var(--main-color-lighter-v2);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
  font-family: inherit;
}

@keyframes moveback{
  0%{
    right: 0;
  }
  50%{
    right: 4px;
  }
  100%{
    right: 0;
  }
}

.header__search__form__submit:hover{
  opacity: 0.7;
  animation: moveback 0.26s ease-in-out;
  -webkit-animation: moveback 0.26s ease-in-out;
}

.header__hello-username__box{ 

}

.header__hello-username{ 
  display: flex;
}

.header__hello-username--hello{ 

}

.header__hello-username--username{ 
  margin-left: 6px;
}


/* content */
.content{ 
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-block: 40px;
}

.section{
  width: 100%;
}

.section-1{
  width: 100%;
}

.content__banner__box{
  width: 100%;
}

.content__banner{
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content__banner__img{ 
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-2{
  width: 100%;
  margin-top: 60px;
}

.section-3, .section-4{
  margin-top: 80px;
}

.content__best__sale__product--section{
  
}

.content__best_sale_product{ 
  background-color: var(--main-color-lighter);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content__best_sale_product > .content__product__list__title{
  color: var(--background-color-light);
}

.content__product__list__title,
.content__product__category__title{ 
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 10px 24px;
  text-align: center;
}

.content__product__list{ 
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.content__product__card{
  width: calc((100% / 4) - 20px);
  height: 380px;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-color-light);
  margin-bottom: 14px;
}

.content__product__card--link{ 
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.product__img--box{
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product__img--img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__info--box{ 
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.product__name--box{ 
  flex: 1;
}

.product__name{ 
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.product__price--box{ 

}

.product__price{ 
  text-align: center;
  color: var(--price-color);
  font-size: 16px;
  font-weight: 600;
}

.content__product__category--section{

}

.content__product__category{ 

}

.content__product__category__title{ 

}

.content__product__category--box{ 
  display: flex;
  height: 300px;
}

.content__product__category__img--box{
  height: 100%;
  width: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.product__category__img--img{ 
  height: 100%;
  width: auto;
  object-fit: cover;
}

.content__product__category__list--wrap{ 
  flex: 1;
  margin-left: 20px;
}

.content__category__list{ 
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.content__category__card{ 
  width: calc((100% / 4) - 20px);
  margin-left: 20px;
  height: 36px;
  margin-bottom: 14px;
}

.content__category__card--link{ 
  display: block;
  width: 100%;
  height: inherit;
  cursor: pointer;
}

.content__category__card--btn{
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--background-color-light);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nunito' !important;
  transition: all 0.16s ease-in-out;
  -webkit-transition: all 0.16s ease-in-out;
  -moz-transition: all 0.16s ease-in-out;
  -ms-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
}
.content__category__card--btn:hover{
  color: var(--background-color-light);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

/* content product page */
.section{

}

.section-1{

}

.content__aside__filter--section{
  flex: 1;
}

.aside__filter__table-type{
  margin-bottom: 26px;
}

.aside__filter__categories{

}

.filter__table-type__list{

}

.filter__categories__list{

}

.filter__table-type__item{
  margin-left: 10px;
}

.filter__categories__item{

}

.filter__table-type__link{
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.filter__categories__link{

}

.aside__filter__brand{

}

.filter__brand__list{

}

.filter__brand__item{

}

.filter__brand__link{

}

.section-2{
  margin-top: 0;
}

.content__product-inner--section{
  flex: 3;
}

.content{ 

}

.content__wrap{ 
  display: flex;
}

.content__aside__filter{ 
  height: auto;
}

.aside__filter__label{ 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 26px;
  display: block;
}

.filter__table__label{
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.filter__categories__label{ 
  
}

.filter__brand__label{ 

}

.content__product-inner{ 

}

.content__product-inner__filtered{ 
  margin-bottom: 20px;
}

.content__product-inner__filtered__list{ 
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}

.content__product-inner_filtered__item{
  width: calc((100% / 6) - 16px);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  background-color: var(--main-color-lighter-v2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.product-inner__filtered__content{ 
  font-size: 16px;
}

.product-inner__filtered__delete-content{
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content__product-inner__product{ 

}

.product-inner__product__list{ 
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

.product-inner__product__card{ 
  width: calc((100% / 3) - 40px);
  height: 380px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.product-inner__product--link{ 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-inner__product__img--box{
  width: 100%;
  height: 280px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.product__inner__product__img--img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-inner__product__info{ 
  padding: 20px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-inner__product__name--box{ 
  flex: 1;
}

.product-inner__product__name{ 
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.product-inner__product__price--box{ 
  text-align: center;
}

.product-inner__product__price{ 
  font-size: 16px;
  font-weight: 600;
  color: var(--price-color);
}



/* footer */
.footer{ 
  background-color: var(--main-color);
}

.footer__wrap{ 
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 40px;
}

.col-3{
  width: calc(100% / 3);
}

.footer__logo{

}

.footer__logo__box{ 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__logo--link{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.footer__logo--img{ 
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer__policy, .footer__product__category{

}

.footer__product__category{

}

.footer__social{

}

.footer__col-3__title{ 
  font-size: 18px;
  font-weight: 600;
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer__policy__list, .footer__product__category__list{ 
  list-style: disc;
  padding-left: 16px;
  color: var(--background-color);
}

.footer__policy__item{ 

}

.footer__policy--link{ 

}

.footer__social__list{ 
  display: flex;
  flex-wrap: wrap;
}

.footer__social__item{ 
  margin-bottom: 8px;
  width: calc(100% / 2);
}

.footer__social--link{ 
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.footer__social--link:hover .footer__social--btn{
  color: var(--main-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.8px);
  -webkit-transform: translateY(-2.8px);
  -moz-transform: translateY(-2.8px);
  -ms-transform: translateY(-2.8px);
  -o-transform: translateY(-2.8px);
}

.footer__social--link > .footer__social--btn{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 10px 24px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.footer__social--link button p{ 
  margin-left: 6px;
}

.footer__col-3__item--link:hover{
  text-decoration: underline;
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}

.footer__col-3__item--link{
  text-decoration: none;
  color: var(--background-color);
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;  
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
