/* category */
.product__list--value{

}

.product__img--box{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.product__value--box{

}

.product__value--name--box{

}

.product__value--name{

}

.product__value--price--box{

}

.product__value--price{

}

.product__value--btn--wrap{

}

.product__section__function__btn__wrap{ 
  display: flex;
}

.product__section__function__btn{ 

}

.product__section__function__btn--link{ 

}

.product__table{ 

}

.product_table--head{ 

}

.product__list{ 

}

.product__label--box{ 

}

.product__list--label{ 

}

.product_table--body{ 

}

.product__value--box{ 

}

.product__img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__value__btn{ 

}

.product__value__btn--link{ 

}
