*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--main-color: #8C6A54;
  --main-color-lighter: #9c7962;
  --main-color-lighter-v2: #e0ae8c;
  --main-color-2: #738AFF;
  --background-color: #FBF0E0;
  --background-color-light: #fcf6ee;
  --text-color: #333333;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-color: #909090;
  --secondary-color-lighter: #BABABA;
  --secondary-color-darker: #707070;
  --price-color: #ff5656;
  --yellow-color: yellow;
  --pink-color: pink;
  --first-color :#12192C;
  --second-color : #F5A623;
  --white-color : #ededed;
  
  
}

body{
    font-family: 'Nunito' !important;
    background-color:var(--background-color-light);
    max-width: auto;
    
    transition: 0.5s;
  }
  .header{ 
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color:  var(--background-color-light);
  }
  
  .header__wrap{
    height: 100%;
    width: 100%;
  
  }
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: auto;
    padding: 0px 20px;
    
  }
  .header_admin_logo_box {
      display:inline-flex;
      
  }
  .header_logo--link {
      padding: 10px;
      font-weight: 700;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      color: var(--main-color);
  }
.header_admin_search_form {
   
}  
.header_search_form_field{
  }

a {
    text-decoration: none;
}
.nav_warp {
  position: relative;
  top: 0px;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color:var(--main-color-lighter);
  padding: 1.25rem 0.5rem 2rem;
  z-index: 100;
  transition: 0.3s;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_link{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: 0.3s;
    
}
.nav_link:hover{
    background: var(--second-color);
    color: var(--first-color);
}
.nav_icon {
    font-size: 1.5rem;
    margin-left: 0.75rem;
}
.nav_text {
    margin-left: 10px;
    font-weight: 600;
    font-size: 23px;
}
.header_menu_item {
    padding-top: 5px;
}
.main_nav_box{
  grid-template-columns: 30% 70%;
}
